
body {
    background-color: #060b23;
    font-family: monospace;
}

.container {
    background-color: #3e435c;
    
    width: 600px;
    height: 610px;
    margin: auto;
    margin-top: 70px;
    border-radius: 5%;
}

.container__title {
    text-align: center;
    padding-top: 32px;
    color: white;
    font-size: 28px;
    
}
.container__information {

    width: 420px;
    height: 460px;
    background-color: transparent;
    margin: auto;
    margin-top: 28px;
    color: #FFFFFF;
    padding: 20px;
}

.container__information__name,
.container__information__age,
.container__information__language {
    width: 100%;
    height: 22px;
    background-color: transparent;
    justify-content: center;
    font-size: 15px;
    display: flex;
    padding-bottom: 0px;
    font-size: 16px;
}

.container__name,
.container__age,
.container__language {
    width: 250px;
    height: 25px;
    margin-bottom: 30px;
    font-size: 15px;
    margin-left: 80px;
    padding-left: 8px;
    border-radius: 8px;
}

.message {
    width: 92%;
    height: 60px;
    background-color: #FFFFFF;
    border: 1px solid #060b23;
    margin: auto;
    border-radius: 10px;
    color: #000000;
    font-size: 18px;
    padding: 5px;
}

.btn {
    width: 30%;
    height: 35px;
    background-color: white;
    border: none;
    margin-left: 35%;
    margin-top: 26px;
    border-radius: 10px;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
} 

.btn:hover {
    background-color: rgb(205, 205, 205);
}
